* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: var(--transition);
}

@font-face {
	font-family: 'Bungee Shade';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/bungeeshade/v13/DtVkJxarWL0t2KdzK3oI_jkc6SjT.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
		U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--max-width: 1100px;
	--border-radius: 0.5rem;
	--border: 1px solid var(--clr-black-800);
	--transition: all 0.2s ease-in;
	--color-primary: #e100ff;

	--clr-black-50: #fafafa;
	--clr-black-100: #f4f4f5;
	--clr-black-200: #e4e4e7;
	--clr-black-300: #d4d4d8;
	--clr-black-400: #a1a1aa;
	--clr-black-500: #71717a;
	--clr-black-600: #52525b;
	--clr-black-700: #3f3f46;
	--clr-black-800: #27272a;
	--clr-black-900: #18181b;
	--clr-black-950: #09090b;

	--clr-white-100: rgb(255, 255, 255);
	--clr-white-200: rgb(215, 215, 215);
	--clr-white-300: rgb(175, 175, 175);
	--clr-white-400: rgb(135, 135, 135);
}

html,
body {
	color: var(--clr-black-950);
	font-family: 'MTSWideRegular';
	font-size: 0.9rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	background: var(--color-primary);
	/* background-color: #ffffff;
	background: linear-gradient(135deg, #00ff6255 25%, transparent 25%) -40px 0/
			80px 80px,
		linear-gradient(225deg, var(--color-primary) 25%, transparent 25%) -40px 0/
			80px 80px,
		linear-gradient(315deg, #00ff6255 25%, transparent 25%) 0px 0/ 80px 80px,
		linear-gradient(45deg, var(--color-primary) 25%, #ffffff 25%) 0px 0/ 80px 80px; */
	background-color: #e5e5f7;
	opacity: 1;
	background: linear-gradient(135deg, #f700ff55 25%, transparent 25%) -20px 0/
			40px 40px,
		linear-gradient(225deg, #f700ff 25%, transparent 25%) -20px 0/ 40px 40px,
		linear-gradient(315deg, #f700ff55 25%, transparent 25%) 0px 0/ 40px 40px,
		linear-gradient(45deg, #f700ff 25%, #e5e5f7 25%) 0px 0/ 40px 40px;
	font-family: 'Inter';
	font-size: 1.2rem;
}

h1,
h2 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

h1 {
	font-family: 'Bungee Shade';
	font-size: 5rem;
	line-height: 1.5;
	/* color: black; */
}

h2 {
	font-family: 'Darker Grotesque';
	font-size: 2rem;
	padding: 0.5rem;
	line-height: 1.5;
	/* color: black; */
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background: var(--clr-black-900);
	border-radius: 100vw;
	margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
	background: var(--clr-black-700);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--clr-black-600);
}

.dashboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 85rem;
	margin-inline: auto;
	padding: 1rem;
}

.flex-row {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.profile {
	text-align: center;
}

.profile p {
	font-size: 2rem;
	font-family: 'DotGothic16';
	background: white;
	max-width: fit-content;
	text-align: center;
	padding: 1rem;
	border-radius: 1vmax;
	border: 2px solid black;
	box-shadow: 5px 5px;
	margin-inline: auto;
	rotate: -5deg;
}

.personal-bests {
	position: fixed;
	bottom: 10rem;
	left: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 0 1vmax 1vmax 0;
	background-color: var(--clr-black-100);
	box-shadow: -10px 10px;
}

.personal-bests ul {
	flex-direction: column;
	padding: 0 1rem 1rem 0;
}

.personal-bests ul li {
	background-color: rgb(253, 55, 177);
	border-radius: 0 10vmax 10vmax 0;
	box-shadow: -3px 3px;
	padding: 0.5rem;
}

.personal-bests ul li:hover {
	background-color: rgb(253, 106, 197);
	box-shadow: -5px 5px;
	cursor: default;
}

.challenges {
	position: fixed;
	top: 10rem;
	right: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 1vmax 0 0 1vmax;
	background-color: var(--clr-black-100);
	box-shadow: 10px 10px;
}

.challenges ul {
	flex-direction: column;
	padding: 0 0 1rem 1rem;
}

.challenges ul li {
	background-color: rgb(253, 184, 55);
	border-radius: 10vmax 0 0 10vmax;
	box-shadow: 3px 3px;
	padding: 0.5rem;
}

.challenges ul li:hover {
	background-color: rgb(255, 202, 104);
	box-shadow: 5px 5px;
	cursor: default;
}

.calories {
	position: fixed;
	top: 10rem;
	left: 0;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 0 1vmax 1vmax 0;
	background-color: var(--clr-black-100);
	box-shadow: -10px 10px;
}

.card {
	display: flex;
	flex: 1;
	flex-direction: column;
	border: 2px solid black;
	box-shadow: 10px 10px;
	border-radius: var(--border-radius);
	/* min-width: 30rem; */
	background-color: var(--clr-black-300);
}

.card:hover {
	box-shadow: 15px 15px;
	cursor: default;
}

.card h2 {
	background: black;
	max-width: fit-content;
	border-bottom: 2px solid black;
	color: white;
	border-radius: 0 0 var(--border-radius);
	/* overflow: hidden; */
	font-size: 2rem;
}

.table {
	padding: 1rem;
}

table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 2px 2px;
}

table,
th,
td {
	border: 2px solid black;
	padding: 0.5rem;
}

th {
	background: chartreuse;
}

tr:hover {
	background: var(--clr-black-400);
	cursor: default;
}

ul {
	display: flex;
	gap: 1rem;
}

li {
	list-style: none;
}

.grain {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -2;
	transform: translateZ(0);
}

.grain:before {
	content: '';
	top: -10rem;
	left: -10rem;
	width: calc(100% + 20rem);
	height: calc(100% + 20rem);
	z-index: 9999;
	position: fixed;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
	opacity: 0.5;
	pointer-events: none;
	-webkit-animation: noise 1s steps(2) infinite;
	animation: noise 1s steps(2) infinite;
}

@-webkit-keyframes noise {
	to {
		transform: translate3d(-7rem, 0, 0);
	}
}

@keyframes noise {
	0% {
		transform: translate3d(0, 9rem, 0);
	}
	10% {
		transform: translate3d(-1rem, -4rem, 0);
	}
	20% {
		transform: translate3d(-8rem, 2rem, 0);
	}
	30% {
		transform: translate3d(9rem, -9rem, 0);
	}
	40% {
		transform: translate3d(-2rem, 7rem, 0);
	}
	50% {
		transform: translate3d(-9rem, -4rem, 0);
	}
	60% {
		transform: translate3d(2rem, 6rem, 0);
	}
	70% {
		transform: translate3d(7rem, -8rem, 0);
	}
	80% {
		transform: translate3d(-9rem, 1rem, 0);
	}
	90% {
		transform: translate3d(6rem, -5rem, 0);
	}
	to {
		transform: translate3d(-7rem, 0, 0);
	}
}

/* SCROLL ANIMATION */

.scroll-text {
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);

	-moz-animation: my-animation 30s ease-out infinite;
	-webkit-animation: my-animation 30s ease-out infinite;
	animation: my-animation 60s linear infinite;
}

.scroll-container {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 55px;
	overflow: hidden;
	width: 80%;
}

.activity-feed {
	height: 55px;
	position: fixed;
	bottom: 0;
	right: 0;
	background: black;
	width: 100%;
}

.activity-feed h2 {
	position: fixed;
	min-width: 20%;
	bottom: 0;
	left: 0;
	color: white;
	z-index: 2;
}

.activity-feed ul {
	display: flex;
	align-items: center;
	gap: 20rem;
	background: black;
	width: 250%;
	height: 55px;
	/* list-style-image: url(); */
}

.activity-feed ul li {
	font-size: 1rem;
	background: white;
	color: black;
	padding: 0.5rem;
	margin: 0;
}

/* for Firefox */
@-moz-keyframes my-animation {
	from {
		-moz-transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(-200%);
	}
}

/* for Chrome */
@-webkit-keyframes my-animation {
	from {
		-webkit-transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(-200%);
	}
}

@keyframes my-animation {
	from {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(-200%);
		-webkit-transform: translateX(-200%);
		transform: translateX(-200%);
	}
}
